eventos_completos/
eventos_mejorados/
embedding_data/
src/Experimentacion/Comparacion_Algoritmos/resultados_comparacion/
data/
logs/
temp/
__pycache__/
*.pyc

venv/
env/
.venv/
.env/

*.log
*.sqlite3
.DS_Store
.idea/
.vscode/
*.swp
